*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.navigation {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #21BCFF;
    width: 100%;
    height: 64px;
    Padding: 20px;
    z-index: 50;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    background-color: transparent;
    border: 0;
    font-size: 125%;
}

.navigation h1 {
        display: none;
    }

.navigation-desktop nav a {
        display: none;
    }

.contact-btn {
    font-size: large;
    width:auto;
    height:auto;
    border: 0;
    border-radius: 0.5rem;
    background-color: aqua;
    transition: background-color 0.2s ease, scale 0.2s ease;
}

.contact-btn:hover {
    background-color: white;
    transform: scale(1.2);
}
.contact-btn a {
    text-decoration: none;
    color: black;
}

@media (min-width: 1024px) {

    .menu {
        display: none;
    }

    .navigation h1 {
        color: blue;
        font-weight: 700;
    }

    .navigation-desktop nav {
        display: flex;
        margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
        text-decoration: none;
    }

    .navigation-desktop nav a {
        display: flex;
    }

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #39f7f1;
    background: linear-gradient(90deg, rgba(57, 247, 241, 1) 0%, rgba(64, 182, 255, 1) 50%, rgba(26, 40, 189, 1) 100%);
    padding: 20px;
    font-size: 125%
}

.hero h1 {
    color: white;
    font-size: 1.875rem;
    margin: 0.5rem;
    text-decoration: underline;
    font-weight: 700;
}

.hero-tag {
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
}

.hero-description {
    margin: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(209, 213, 219, var(--tw-text-opacity));
}

.hero-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.hero-btn button {
    border-radius: 0.5rem;
    background: white;
}